@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;800&family=VT323&display=swap');

body {
  margin: 20px;
  font-family: "Poppins";
  background: #d1dedd;
}

ul,
li {
  padding: 0;
  list-style-type: none;
}

h1,
h2,
h3 {
  color: #767f7e;
}

p {
  color: #828b8a;
}

.main-heading {
  max-width: 1440px;
  width: 90%;
  margin: 40px auto;
  border-bottom: 1px solid #bbc7c7;
  padding-bottom: 40px;

}

.grid-container {
  max-width: 1440px;
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 60px;
}

div img {
  width: 100%;
  border: 4px solid white;
  border-radius: 8px;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

div img:hover {
  scale: 1.05;
}

.featured-container {
  grid-column: span 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  align-items: center;
  border-bottom: 1px solid #bbc7c7;
  padding-bottom: 40px;
}

div p,
div h2 {
  margin: 20px 10px;
}

@media (max-width:980px) {
  .sub {
    grid-column: span 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }
}
@media (max-width:760px) {
  .sub,.featured-container {
    display: block;
  }
}